html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #111111;
  color: #FFFFFF;
}

header, footer {
  background: #2C2D41;
}

h1, h2, footer {
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  font-size: 2.57rem;
}

h2 {
  font-size: 1.85rem;
}

i.fab, i.fas {
  min-width: 1.2rem;
}

img.backdrop {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

img.photo {
  border-radius: 50%;
  display: block;
  float: right;
  padding: 2em;
  width: 130px;
}

p {
  line-height: 1.5rem;
  margin: 1.25rem 0;
}

p a {
  color: #EEEEEE;
  opacity: 0.9;
}

p a:hover {
  color: #FFFFFF;
}

svg.flag {
  width: 1rem;
  height: 0.75rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.panel {
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  position: relative;
}

.panel .contents {
  position: relative;
  z-index: 2;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: inline-block;
  margin: 0.25rem 0.75rem 0.25rem 0rem;
}

.links a {
  border: 2px solid #FFFFFF;
  border-radius: 3rem;
  color: #FFFFFF;
  display: block;
  font-family: 'ABeeZee', sans-serif;
  opacity: 0.9;
  padding: 0.4rem 0.9rem;
  text-decoration: none;
}

.links a.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.links a:hover:not(.disabled) {
  background: rgba(255, 255, 255, 0.05);
  opacity: 1;
}

.time-frame {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-left: 0.5em;
  opacity: 0.45;
  vertical-align: middle;
}

@media screen and (max-width: 699px) {
  header h1 {
    text-align: center;
  }

  img.backdrop {
    /* TODO: How to display these images neatly on smaller devices? */
    display: none;
  }

  img.photo {
    float: none;
    margin: 1rem auto;
    padding: 0;
    width: 100px;
  }

  .time-frame {
    display: block;
    margin-left: 0;
  }
}

@media screen and (min-width: 700px) {
  img.backdrop {
    height: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1.0) 25%);
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1.0) 25%);
    opacity: 0.20;
    position: absolute;
    right: -30px;
    top: 0;
  }

  .notable-project.panel {
    padding-right: 240px;
  }
}

@media screen and (min-width: 1060px) {
  footer {
    transform: skew(-43deg);
  }

  footer > * {
    transform: skew(43deg);
  }

  .panel {
    padding: 0.5rem 2.5rem;
  }

  .panel.skewed {
    min-height: 22.85rem;
  }

  .panel.skewed:nth-child(1n) {
    transform: skew(11deg);
  }

  .panel.skewed:nth-child(1n) .contents > *,
  .panel.skewed:nth-child(1n) img.backdrop {
    transform: skew(-11deg);
  }

  .panel.skewed:nth-child(2n) {
    transform: skew(-11deg);
  }

  .panel.skewed:nth-child(2n) .contents > *,
  .panel.skewed:nth-child(2n) img.backdrop {
    transform: skew(11deg);
  }
}
